@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*
Colors:
blue:       #11367E
red:        #D7141A
white:      #FFFFFF
red2:       #D94343
grey:       #EFE9E9
dark-grey:  #D9D9D9
*/

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background-color: #efe9e9;
  color: white;
}

.home-content {
  margin-top: 160px;
  margin-left: 160px;
  margin-right: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: black;
}

p {
  font-size: 32px;
}

.background-image {
  background-image: url("./images/header-image.png");
  background-size: 1920px 540px;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  text-align: center;
  grid-auto-rows: min-content;
  height: 540px;
}

.background-image h1 {
  padding-top: 84px;
}

.background-image p {
  font-weight: bold;
}

.home-image {
  width: 720px;
  height: 720px;
  border-radius: 20px;
}

.home-text {
  width: 720px;
  height: 720px;
  background-color: #11367e;
  border-radius: 20px;
}

.box-text {
  width: 470px;
}

footer {
  background-color: #d9d9d9;
  height: 160px;
  margin-top: 160px;
}

nav {
  display: flex;
  justify-content: center;
  height: 160px;
  width: 360px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #d94343;
  text-decoration: underline;
}

.banner {
  margin-top: 160px;
  background-color: #d94343;
  width: 100%;
  height: 440px;
  display: grid;
  align-items: center;
  text-align: center;
  grid-auto-rows: min-content;
}

.banner p {
  padding: 0px 160px;
}

.logo {
  width: 120px;
  height: 130px;
}

.flex-navbar {
  display: flex;
  gap: 33%;
  align-items: center;
  height: 160px;
  width: 96%;
  margin-left: 40px;
}

.contacts {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-icons {
  height: 160px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.social-icons i {
  color: black;
}

.references-sec {
  width: 1600px;
  display: grid;
  margin-top: 160px;
  margin-left: 160px;
  margin-right: 160px;
}

.ref-images-bundle {
  display: flex;
  gap: 5%;
}

.references-image {
  width: 460px;
  height: 300px;
}

.black {
  color: black;
}

.ref-text {
  display: grid;
  justify-content: center;
}

.ref-text p {
  width: 700px;
  text-align: center;
}

.ref-text h2 {
  text-align: center;
}

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}